.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 7px;
}

.list-item {
  background-repeat: no-repeat;
}

.list-item.image {
  width: 120px;
  height: 120px;
}

.list-item.image img {
  width: 100%;
  height: 100%;
}
